<nav class="sidebar">
    <div class="sb-logo">
        Navigate the blog
    </div>
    <ul class="nav-links">
        <li class="sb-element" onclick="window.location.href='/intro'">
            Intro
        </li>
        <li class="sb-element" onclick="window.location.href='/introduction'">
            Introduction to computer graphics
        </li>
        <li class="sb-element" onclick="window.location.href='/projective-geometry'">
            Projective Geometry
        </li>
        <li class="sb-element" onclick="window.location.href='/affine-transformations'">
            Affine Transformations
        </li>
        <li class="sb-element" onclick="window.location.href='/lines-and-projections'">
            Lines and Their Projections
        </li>
        <li class="sb-element" onclick="window.location.href='/model-view-transformations'">
            Model and View Transformations
        </li>
        <li class="sb-element" onclick="window.location.href='/perspective-correct-interpolation'">
            Perspective Correct Interpolation
        </li>
        <li class="sb-element" onclick="window.location.href='/view-frustum'">
            The View frustum
        </li>
        <li class="sb-element" onclick="window.location.href='/rasterization'">
            Rasterization
        </li>
        <li class="sb-element" onclick="window.location.href='/shading'">
            Shading
        </li>
    </ul>
    <div class="sb-footer">
        <p>© Burzum wishes you to have fun!</p>
    </div>
</nav>