<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/css/style2.css">
    {% include 'tech_head.html' %}
</head>

<header>
    Burzum's take on Computer Graphics
    <img src="../static/img/dolphin.png" alt="dolphimesh">
</header>

<body>
    {% include '_sidebar.html' %}
    

    <section class="textChunk" , id="affine-transformations">
        <h2> Affine transformations </h2>
        <p>
            Let's try to talk about affine transformations a little. An import distinction we would be very happy to make is that projective transformations are not affine transformations. An affine transformation is a transformation where distance ratios and parallelism
            are preserved. For example say you translate a rectangle by 2 points to the left, the lines that were parallel before the transformation are still parallel, the distance of the sides are still the same, therefore this is an affine transformation.
            <br> More mathematically, if a transformation \(f\) is an affine transformation in \(\mathbb{R}^n\) then: $$ f : P \to \mathbf{M_{n \times n}} \ \cdot P + \vec{v} $$ For example translation is an affine transformation: $$ T(P, \vec{v}) = I_n \cdot
            P + \vec{v} $$ Where \(I_n\) is the \(n\) th dimensional identity matrix.


    </section>
</body>

{% include 'footer.html' %}

</html>