<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/css/style2.css">
    {% include 'tech_head.html' %}
</head>

<header>
    Burzum's take on Computer Graphics
    <img src="../static/img/dolphin.png" alt="dolphimesh">
</header>

<body>
    {% include '_sidebar.html' %}

    <section class="textChunk" id="perspective-correct-interpolation">
        <h2> Planes and their projections </h2>
        <p>
            This I think, is one of the most important topics in computer graphics; so it is crucial for you, me and everyone that wants to comprehend computer graphics in detail; to understand. So let's buckle up and try to understand why texturing is problematic
            if done without perspectivity in mind.
            <br> Almost always, shaders running on your gpu interpolates the primitives: quads, triangles; after they are projected. This is because, as discussed in the lines-and-projections chapter, lines (segments) project to lines, meaning their interpolated
            points also correspond to the interpolations of the projected points. Same goes for surfaces. For example you can project four of the corners of a square and draw lines from each corner and every point inside that projected quadrilateral is
            also inside the original square! These points that are inside the polygon and are interpolated are called <a href="https://en.wikipedia.org/wiki/Fragment_(computer_graphics)">fragments</a>. They are basically the points on the projected primitives
            that are not the corners or not on the sides of the projected polygon. We will discuss this in a future chapter: Rasterization.
            <br> Now let's imagine a finite plane that is a square for convenience. You can think of it as a wall segment that needs to be textured, or a small quad primitive of a larger mesh: $$ q(\alpha, \beta) = C + \alpha \vec{a} + \beta \vec{b} $$ where
            $$ \alpha, \beta \in [0, 1] $$ If you have problems with this definition, don't worry. Let me explain! \(C\) is the position vector of a corner we have selected on the rectangular finite plane, and the vectors \(\vec{a}\) and \(\vec{b}\) are
            vectors that are pointing from \(C\) to neighboring corners. So the \(C\) is the vector that "moves" to the plane and \(\vec{a}\) and \(\vec{b}\) are basis vectors that move the point across the plane. \(\alpha\), \(\beta\) are just parameters
            that run independently from 0 to 1. This is esentially interpolating lines on a rectangular surface: fix \(\alpha\) to a value and vary \(\beta\) and you are interpolating a line on the surface.
            <br> For example, \(q(1, 1)\) is the diagonal non-neighboring corner of \(C\), and \(q(0, 0) = C\). a more common (but ultimately the same) way of defining a surface though, is with the same parameters but with 3 corners (more precisely their
            position vectors) instead of the mentioned two basis vectors that are derived from them. Let's label them \(A\), \(B\) and \(C\) which was already there in the equation. It is not hard to see that $$ \vec{a} = A - C $$ and $$ \vec{b} = B -
            C $$ Therefore our equation becomes: $$ q(\alpha, \beta) = C + \alpha (A - C) + \beta (B - C) $$ $$ = C + \alpha A - \alpha C + \beta B - \beta C $$ $$ = (1 - \alpha - \beta)C + \alpha A +\beta B $$ If we let $$ \gamma = (1 - \alpha - \beta)
            $$ Then: $$ q(\alpha, \beta, \gamma) = \gamma C + \alpha A +\beta B $$ Becomes the barycentric coordinates parametrization of the surface! (Remember the definition we made in the lines-and-projections chapter?)
            <br> A texture is also a 2D rectangular image, a pixel array. What if I wanted to project this texture onto the \(z=1\) plane? We know that the texels (texture pixels) vary linearly on the plane with respect to the barycentric coordinates \((\alpha,
            \beta, \gamma)\) but what happens to these parameters when we project the texture onto the plane? Well, as we have discussed extensively, each texel would divide by its \(z\) coordinate. Where \(z\) is also interpolated with the said parameters:
            $$ z = w_0 = \gamma C_z + \alpha A_z +\beta B_z $$ where: $$ q_{proj}(\alpha, \beta, \gamma) = \begin{bmatrix} q_x \\ q_y \\ q_z \\ w_0 \end{bmatrix} $$ and therefore: $$ q_{proj}(\alpha, \beta, \gamma) = \frac{\gamma}{w_0} C + \frac{\alpha}{w_0}
            A + \frac{\beta}{w_0} B $$ Or just a parameter swap: $$ q_{proj}(\bar{\alpha}, \bar{\beta}, \bar{\gamma}) = \bar{\gamma} C + \bar{\alpha} A + \bar{\beta} B $$ where, as we know what \(w_0\) is: $$ \bar{\alpha} = \frac{\alpha}{w_0} = \frac{\alpha}{(1
            - \alpha - \beta) C_z + \alpha A_z +\beta B_z} $$ And the rest, similarly: $$ \bar{\beta} = \frac{\beta}{w_0(\alpha, \beta)} $$ $$ \bar{\gamma} = \frac{1}{w_0(\alpha, \beta)} - \bar{\alpha} - \bar{\beta} $$ Here we have it! The parameters
            that we can use to interpolate the projected surface! This is huge! Why? We can now linearly interpolate attributes on the projected surface! Let's define a square texture as \(T(u, v)\) where \(u\) and \(v\) are texture coordinates. And label
            one corner \(T_0\) as the local origin, and other adjacent corners \(T_1\) and \(T_2\) We already know the projected texture on \(z = d\) (generalizing): $$ T_{proj}(u, v) = \bigg(\frac{1}{w_0} - \frac{u}{w_0} - \frac{v}{w_0}\bigg) T_0 + \frac{u}{w_0}
            T_1 + \frac{v}{w_0} T_2 $$ Where \(w_0\) is: $$ w_0 = \frac{1}{d} \cdot z = \frac{(1 - u - v) {T_0}_z + u {T_1}_z + v {T_2}_z}{d} $$ When we are interpolating across the projected texture with \(\bar{u}\) and \(\bar{v}\) if we multiply the
            them with: $$ \frac{(1 - u - v) {T_0}_z + u {T_1}_z + v {T_2}_z}{d} = w_0 $$ then we get back the corresponding parameters used to interpolate the "unprojected" texture and therefore the corresponding texel: \(T(u, v)\)! Neat huh? Every shader
            does this to find the original parameters or coordinates on the projected primitive to recover the "unprojected" attributes, like: texel coordinates, rgb values (e.g if you are interpolating RGB colors), surface normals etc.
            <br> But we need to be more slick. \(u\) and \(v\) are in world space. I say it for the 67th time, we interpolate in screen space. We need to use the barycentric coordinates in the viewport space to define an affine sum so that \(u' + v' + \gamma'
            = 1\). In our case the three relevant projected corners are: \(\frac{T_0}{w_{1}}\), \(\frac{T_1}{w_{2}}\) and \(\frac{T_2}{w_{3}}\). Where: $$ T_i = \begin{bmatrix} x_i \\ y_i \\ z_i \\ w_{i+1} \end{bmatrix} $$ Which are the points we will
            interpolate on the viewport. Then: $$ T_{proj}(u, v) = \gamma'\frac{T_0}{w_{1}} + u'\frac{T_1}{w_{2}} + v'\frac{T_2}{w_{3}} $$ Which, as we have seen, also equals to: $$ T_{proj}(u, v) = \frac{\gamma}{w_0}T_0 + \frac{u}{w_0}T_1+ \frac{v}{w_0}T_2
            $$ $$ \implies \frac{\gamma}{w_0}T_0 + \frac{u}{w_0}T_1+ \frac{v}{w_0}T_2 = \gamma'\frac{T_0}{w_{1}} + u'\frac{T_1}{w_{2}} + v'\frac{T_2}{w_{2}} $$ Then asserting each term we sum in each side is equal, we get: $$ \gamma = \frac{w_0}{w_1}
            \gamma' \implies \frac{\gamma}{w_0} = \frac{1}{w_1} \gamma' $$ And similarly: $$ \frac{u}{w_0} = \frac{1}{w_2} u' $$ $$ \frac{v}{w_0} = \frac{1}{w_3} v' $$ Just to clarify if \(u' + v' + \gamma' = 1\) within our findings: $$ u' + v' + \gamma'
            = \frac{w_2}{w_0} u + \frac{w_3}{w_0} v + \frac{w_1}{w_0} \gamma = \frac{w_0}{w_0} = 1 $$ Perfect! Now let's sum them all: $$ \frac{\gamma}{w_0} + \frac{u}{w_0} + \frac{v}{w_0} = \gamma' \frac{1}{w_1} + u' \frac{1}{w_2} + v' \frac{1}{w_3}
            $$ We only need to once again realize, now; because \(\gamma\), \(u\), and \(v\) are also barycentric coordinates they sum up to \(1\): $$ \frac{1}{w_0} = \gamma' \frac{1}{w_1} + u' \frac{1}{w_2} + v' \frac{1}{w_3} $$ $$ w_0 = \bigg(\gamma'
            \frac{1}{w_1} + u' \frac{1}{w_2} + v' \frac{1}{w_3}\bigg)^{-1} $$ Here you go! A fragment on the viewport is therefore related to the viewspace fragment: $$ f_{vs} = f_{vp} \cdot \bigg(\gamma' \frac{1}{w_1} + u' \frac{1}{w_2} + v' \frac{1}{w_3}\bigg)^{-1}
            $$ We will use this formulation for texturing, lighting and whatnot! In the following chapters, fragment shading will be discussed in even more detail (while discussing triangle rasterization). We will talk about how we can find screen barycentric
            coordinates to get viewspace barycentrics (basically rasterization, interpolation).
        </p>

        <div class="note">
            <label>
                If you couldn't follow the mathematics in this chapter, it will be recapped, so don't worry!
            </label>
        </div>

    </section>
</body>

{% include 'footer.html' %}

</html>