<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/css/style2.css">
    {% include 'tech_head.html' %}
</head>

<header>
    Burzum's take on Computer Graphics
    <img src="../static/img/dolphin.png" alt="dolphimesh">
</header>

<body>
    {% include '_sidebar.html' %}
    <section class="canvasContainer">
        <label for="2Dprojectives">Behold: 2D projection</label>
        <canvas id="2Dprojective" width="500" height="500"></canvas>
    </section>
    <script src="static/js/2D/canvasController.js"></script>
    <div class="matrixContainer">
        <label id="projection-matrix">\begin{bmatrix}a & b & c\\d & e & f\\ g & h & i \end{bmatrix}</label>
        <script>
            async function sleep(ms) {
                return new Promise(resolve => setTimeout(resolve, ms));
            }
            async function dynamicMatrix() {
                while (true) {
                    await sleep(100)
                    let label = document.getElementById("projection-matrix")
                    const [r1, r2, r3] = M_projection.rows();
                    label.innerText = 
                    `\$\$P' = \\begin{bmatrix}
                        ${r1.get([0, 0]).toFixed(4)} & ${r1.get([0, 1]).toFixed(4)} & ${r1.get([0, 2]).toFixed(4)}
                        \\\\${r2.get([0, 0]).toFixed(4)} & ${r2.get([0, 1]).toFixed(4)} & ${r2.get([0, 2]).toFixed(4)}
                        \\\\ ${r3.get([0, 0]).toFixed(4)} & ${r3.get([0, 1]).toFixed(4)} & ${r1.get([0, 2]).toFixed(4)} 
                    \\end{bmatrix} \\cdot \\ P\$\$`
                    MathJax.typesetClear([label])
                    MathJax.typesetPromise([label]).then(() => {
                        console.log("type set update finished.")
                    });
                }
            }
            dynamicMatrix();
        </script>
    </div>

    <section class="textChunk" id="projective-geometry">
        <h2> Matrices </h2>
        <div class="note">
            <label>
                if you aren't familiar at all with matrices or vectors:
                <br>
                <a href="https://www.mathsisfun.com/algebra/matrix-introduction.html">this</a> can be helpful.
            </label>
        </div>
        <p>
            "Points projecting onto a plane", we said; but how? The answer is with matrices. Just look above!
            <br> A matrix is a 2 dimensional collection of numbers, and can be -and are used to transform points. For example: $$P = I_2 \cdot P$$ where \(I_2\) is the 2 dimensional identity matrix: $$ I_2 = \begin{bmatrix} 1 & 0 \\ 0 & 1 \end{bmatrix} $$
            Why matrices? Your GPU is very good at parallelization.
            <br> Let's say we are multiplying a 3x3 matrix with a 1x3 column matrix, we need 3 entries for the resultant column matrix, which are entirely independent of each other. Esentially, we need 3 dot independent products, which is just repetitive
            addition; relatively simple in terms of computation. Another reason is integrity: for every point if we can find a transformation matrix, we will just multiply every point with the same matrix, no questions asked! You can start to understand
            why it is advantagous to use matrices. If I would try to

            <br>
            <br> Above, you see a homogenous point being transformed via a 3x3 matrix. 2 dimensional points can't be projectively transformed with 2x2 matrices, as projective transformations aren't affine transformations: they don't preserve distances! We
            will use what is called homogenous coordinates.
        </p>
        <h2> Projective geometry </h2>
        <p>
            Projective geometry is some fancy stuff, and I will absolutely not get into the details of it (and I mostly can't &#128575), however we will borrow the coordinate system that is associated with it: as said, homogenous coordinates. Why not cartesian coordinates?
            Well, let me repeat; as stated, cartesian coordinates cannot be projectively transformed via matrices. But how can homogenous coordinates can be used to achieve this? Let's see. A projective plane \( \mathbb{P}^2 \) is a set of equivalence
            relations defined as follows: $$P_0 \sim \lambda \cdot P_1, \ \lambda \ne 0$$ Which are "points" on that projective plane. What does this fancy stuff actually mean?
            <br> It means, roughly speaking, each projective line (euclidean lines going through the origin) is a "point" on this projective space. For reference, consider the homogenous coordinate \(x\): $$ P = [1: 1: 2] \equiv [2: 2: 4] \equiv [4: 4: 8]
            $$ In general: $$ [x: y: w] \equiv [\lambda x: \lambda y: \lambda w], \lambda \in F_{\mathbb{P}^2} $$ And a corresponding cartesian coordinate can be obtained via the operation: $$ P_{\mathbb{R}^2} = \bigg(\frac{x}{w}, \frac{y}{w}\bigg) \equiv
            [x: y: w] \cdot \frac{1}{w} $$ Let's say I want to project any point \(P \) onto the line \(x = d \):
            <br> It is not hard to see that the projected point \(P'\) will have \(d\) as its \(x\) coordinate, since it will be on the line: $$P' = \begin{bmatrix} d \\ P_y'\end{bmatrix}$$ Meaning $$P' = \frac{d \cdot P}{P_x} $$ where: $$ P = \begin{bmatrix}
            P_x \\ P_y\end{bmatrix} $$ Looks familiar? &#128515 $$ P' \equiv [P_x: P_y: \frac{1}{d}P_x] $$ Augmenting \(P\) to homogenous coordinates: $$ P' = H \cdot P $$ Precisely: $$ P' = \begin{bmatrix} 1 & 0 & 0 \\ 0 & 1 & 0 \\ \frac{1}{d} & 0 &
            0 \end{bmatrix} \cdot P $$ where \(H\) is the homography matrix.
            <br> This is a projective transformation, it is also a homography.
            <br>

            <div class="note">
                <label>
                    Note that this matrix is still for transforming 2D cartesian coordinates, even though it is 3x3 itself. the extra column and row accounts for the homogenous part.
                </label>
            </div>

            <h2> Back to 3D </h2>
            <p>
                The homography matrix for 3D is very similar, assuming we are projecting points onto the viewport: \( z = 1 \), which is a plane.
                <br> The operations are again, really similar; to project a point \( P \) onto the plane, parallel to the xy plane and with distance d to the origin, we multiply it with the homography (matrix): $$ H = \begin{bmatrix} 1 & 0 & 0 & 0 \\ 0 &
                1 & 0 & 0 \\ 0& 0 & 1 & 0 \\ 0 & 0 & \frac{1}{d} & 0 \end{bmatrix}$$
            </p>

            <h2> Some important insights from projective geometry </h2>
            <p>
                The ability to use matrices for projective transformations in homogenous space stems from the homogenous space being invariant under projective transformations, i.e projective transformations are linear (for the record semi-linear but that is a useless
                fact if you are not interested in generality) in a homogenous space.
                <br> Another important fact you will hear throughout my blog: lines project to lines and polygons project to polygons. This is due to the fundamental theorem of projective geometry, if we have a projective transformation: \(\pi\), and three
                points \(p_1\), \(p_2\) and \(p_3\) then: $$ (p_1, p_2, p_3) \in I \implies \big(\pi(p_1), \pi(p_2), \pi(p_3)\big) \in I $$ Verbally: points that are collinear (on the same line, incident) when projected; are also collinear!


    </section>
</body>

{% include 'footer.html' %}

</html>